/* Fix for Valid Email Address Box spacing on mobile */
@media screen and (max-width: 450px) {
  .input-group.error .error-msg {
    bottom: 73px;
    width: 100%;
  }
  /* Fix for Valid Email Address Box spacing on mobile */
  .error-spacer {
    display: block;
  }
  
}
